<header>
    Royal Pharma 
        <small><%= header %></small>

        <ul type="none">
            <% if(locals.customer){%>           <!-- Here, locals.customer and customer are the same, but to prevent the system from crashing we 
                                                        use locals.customer since it would only return null and not crash the App by saying 
                                                        undefined customer-->
                <li><a href="/customer/profile"><%=customer.Name%></a></li>
                <a href="/customer/sign-out"><li>
                    Sign Out  
                </li></a>
            <%}else{%>
                <li><a href="/customer/sign-in">Sign in</a></li>
                <li><a href="/customer/sign-up">Sign Up</a></li>
            <%}%>
        </ul>
</header>