
<h1>New customer sign Up form</h1>

<div>
    <table border="0">
    <form action="/customer/create" method="POST">
        <tr>
            <td>Email:</td><td><input type="text" name="Email"placeholder="Enter your email!" required></td>
        </tr>
        <tr>
            <td>Name:</td><td><input type ="text" name="Name" placeholder="Enter your name" required></td></td>
        </tr>
        <tr>
            <td>Password:</td><td><input type="password" name="password"placeholder="Enter the password" required></td>
        </tr>
        <tr>
            <td>Confirm Password:</td><td><input type="confirm_password" name="confirm-password" placeholder="Confirm" required></td>
        </tr>
        <p>
            <tr>
                <td colspan="2" ><button type="submit">Submit</button></td>
            </tr>
        </p>
    </form>
    </table>

</div>




    
 