
<h1>Welcome customer! Are you signed in !?</h1>

<div>
    <form action="/customer/create-session" method="POST" >

        <input type="text" placeholder="Enter your email!" required>
        <input type="password" placeholder="Enter the password" required>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>


</div>




    
 