
<h1>Welcome customer! Are you signed in !?</h1>

<div>
    <form action="/customer/create-session" method="POST" >

        <input type="text" placeholder="Enter your email!" name="Email" required>
        <input type="password" placeholder="Enter the password" name ="password" required>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <p> 
        <b>Are you <a href ='/customer/sign-up'>Signed Up</a>!?</b>
    </p>


</div>
<p>
    <a href="/customer/auth/google">Google Sign-In/ Sign-Up</a>
</p>




    
 