
<h1> <%= title %></h1>
<section>
    
    <form action="" method="POST" id = "new-post-form">
        <textarea name="content" cols="30" rows = "3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>

</section>