body{
    margin:0;
}
header{

    background-color: green;
    color:white;
    .info{
        display:flex;
        justify-content: space-between;
        ul li{
            display:inline-block;
            // justify-content: space-between;
        }
    }
}